<div class="hero-unit">
  <h1>got_easy_data</h1>
  <br/>
  <strong>What is it?</strong>
  <p>It's a simple rails app I created for generating meaningful data based on the series of novels A Song of Ice and Fire, or better known as Game of Thrones.</p>
  <p>Feel free to fork this and do whatever you'd like with it. Check the code out over at GitHub: <%= link_to "got_easy_data", "https://github.com/MunkiPhD/got_easy_data" %>
</div>
